* {
  font-family: 'Nunito Sans';
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

html, body {
  height: 100%
  width: 100%
  font-size: 100%;
  margin: 0;
  padding: 0;
}


main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.game-name {
  background-color: #DBE9EE;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  line-height: 1.4;
  padding: 10px;
}
h1 {
  color: #466995;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
  }

h2 {
    color: #333;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.2rem;
    font-weight: 100;
    padding-bottom: 10px;
  }
  

.rounds {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 10px auto;
}

.guessing-area {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}
.score-label {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.guess {
  min-width: 303px;
  height: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #979797;
}

.player-label {
  font-size: 1.2rem;
  font-weight: 700;
  padding: 10px;
}


#computer-guess {
  font-size: 1.8rem;
  font-weight: 700;
  color: #a5a5a5;
  margin: 2.5rem auto;
}

#guess-field {
  height: 80px;
  width: 120px;
  font-size: 1.8rem;
  text-align: center;
  margin: 14px auto;
  display: block;
}

.radio-wrap {
  display: flex;
  justify-content: space-between;

}
 .radio > input {
  border: solid 1px #4c7ef3;
  width: 45px;
  height: 35px;
  font-size: 0.8rem;
  font-weight: 700;
  color: #4c7ef3;
  cursor: pointer;
  padding: 5px;
}


.button {
  background-color: #4c7ef3;
  color: #fff;
  cursor: pointer;
}

#game-button {
  padding: 20px;
  width: 169px;
  height: 59px;
  border: none;
  font-weight: 700;
  font-size: 1rem;
}

input[type=text]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.part, .sound1, .sound2 {
  font-weight: bold;
}

#song-result {
  margin: 20px auto;
  border: 1px solid #979797;
  width: 646px;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
}

/* vertically centers all elements in the #song-result */
#song-result > p {
  margin-top: auto;
  margin-bottom: auto;
  padding: 
}

#song-result p:first-child {
  margin-top: 15px;
}

#song-result p:last-child {
  margin-bottom: 15px;
}

#song-result-label {
  font-size: 1rem;
  font-weight: 700;
  padding-top: 15px;
  color: red;
}

#target-answer {
  font-size: 1rem;
  font-weight: 700;
  color: red;
}

#next-round {
  width: 179px;
  height: 64px;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 20px;
}
  
.button[disabled] {
  background-color: #d2d2d2;
  color: #a0a0a0;
  cursor: default;
}

.instructions {
  background-color: #ececec;
  width: 100%;
  min-height: 150px;
  /* align-items: flex-end; */
  display: flex;
  justify-content: space-around;
  margin-bottom: 0;
  align-items: center;

}

.instruction {
  width: 180px;
  padding: 2px;
  text-align: center;
}

.instructions h3 {
  font-size: 0.8rem;
}


.winning-text, .winning-text[disabled] {
  color: #ec3636;
  font-weight: 700;
}